.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2em;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 450px;
  height: 450px;
  padding: 30px;
}

img {
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: red;
}
a:hover {
  color: purple;
}

a:hover img {
  opacity: 0.5;
}
